<% if signed_in? %>
    <div class="TopOfThings">
      <a name="topofthings"></a>
    </div>
    <div class="first_home">
      <%= render 'home/first'  %>
    </div>
    <div class="second_home">
      <%= render 'home/second'  %>
    </div>
    <div class="third_home">
    </div>
<% else  %>
    <%= render 'home/notsignedin'  %>
<% end %>
