<% if signed_in? %>
    <div class="TopOfThings">
      <a name="topofthings"></a>
    </div>
    <div class="first_home_signedin">
      <%= render 'home/first_signedin'  %>
    </div>
    <div class="second_home_signedin">
      <%= render 'home/second_signedin'  %>
    </div>
    <div class="third_home_signedin">
    </div>
<% else  %>
    <div class="first_home_notsignedin">
      <%= render 'home/first_notsignedin'  %>
    </div>
    <div class="second_home_notsignedin">
      <%= render 'home/second_notsignedin'  %>
    </div>
<% end %>
