<% if signed_in? %>
    <div id="container" style="width:1200px">
      <div id="mate_feed" style=" width:500px;float:left;">
      <div class="span6">
        <h3>Help Someone Out.</h3>
        <%=  render 'shared/request_feed' %>
      </div>
    </div>
      <div id="request_feed" style="width:500px;float:left;">
      <div class="span6">
        <h3>Find a Mate.</h3>
        <%=  render 'shared/mate_feed' %>
      </div>
    </div>
   </div>
<% else  %>
    <div class="center hero-unit">

      <h1>BeAMate</h1>
      <h2> This is BeAMate Home.</h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary modal-link",
                                                                                        "data-target" => "#myModal",
                                                                                        "data-toggle" => "modal",
                                                                                        "data-backdrop" => "static",
                                                                                        "data-keyboard" => "false" %>

    </div>

<% end %>
