<% provide(:title, 'Help Out') %>
<div class="row">
  <div class="span7">
    <section>
      <h1>Perhaps you can help?</h1>
      <h3>We're certain some people out there could use your help. Would you be so kind as to share some information with us?</h3>
    </section>
    <section>
      <%=  render 'shared/matepost_form' %>
    </section>
  </div>
</div>