<div class="row">
  <div class="span6">
    <section>
      <h1>Will you help out?</h1>
      <h4>We're certain some people out there could use your help. Would you be so kind as to share some information with us?</h4>
    </section>
    <section>
      <%=  render 'shared/matepost_form' %>
    </section>
  </div>
</div>