<div class="modal_title">
  <h1>Bring Something.</h1>
</div>
<div class="modal_text">
  Flying somewhere soon? Want to make someone very happy? <br>
  Now's your chance! Bring something back for someone! <br>
  Post a few details about your trip: <br><br>
</div>
<%=  render 'shared/matepost_form' %>


