<% provide(:title, 'Request Something') %>
    <div class="row">
      <div class="span7">
        <section>
          <h1>How can we help you?</h1>
          <h3>So there's something you want. Why don't you tell us what it is, and we'll help you find someone who will bring it for you.</h3>
        </section>
        <section>
          <%=  render 'shared/requestpost_form' %>
        </section>
      </div>
    </div>