<div class="modal_title">
  <h1>Ask Something.</h1>
</div>
<div class="modal_text">
  Want something from abroad? Need someone to deliver it?<br>
  Why the long face? We can help you find such a person!<br>
  Post a few details about what and where from: <br><br>
</div>
<%=  render 'shared/requestpost_form' %>