<% provide(:title, 'Request Something') %>
    <div class="row">
      <div class="span6">
        <section>
          <h1>We'd like to help you.</h1>
          <h4>So there's something you want. Help us help you get it.</h4>
        </section>
        <section>
          <%=  render 'shared/requestpost_form' %>
        </section>
      </div>
    </div>