<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= link_to image_tag("https://thawing-cliffs-5599-assets.s3.amazonaws.com/assets/LogoMail.png"), root_url %>
<h2>Hi there, about your forgotten password...</h2>
<h3>We can help you get a new one!</h3>
<h3>All you have to do is <%= link_to "click here", edit_password_reset_url(@user.password_reset_token) %></h3>
<p>
<h3>Yours, firstmate</h3>
</p>
</body>
</html>