<h1>Conversations</h1>
<h2>Inbox</h2>
<%= render mailbox.inbox %>
<%= render mailbox.sentbox %>
<h2>Trash</h2>
<% mailbox.trash.each do |conversation| %>
  <% if (conversation.receipts_for(current_user).where("deleted = ?", true).empty?) %>
    <%= render conversation %>
  <% else  %>

  <% end %>
<% end %>
<% if !(mailbox.trash.empty?) %>
    <%= link_to 'Empty Trash', 'empty_trash', :confirm => 'Empty trash?'%>
<% end  %>
