<% if @mate_feed_items.any? %>
    <div id="mateposts">
      <ol class="mateposts">
        <%= render partial: 'shared/mate_feed_item', collection: @mate_feed_items %>
      </ol>
    </div>
<% end  %>