<% if @request_feed_items.any? %>
    <ol class="requestposts">
        <div id="requestposts">
          <%= render partial: 'shared/request_feed_item', collection: @request_feed_items %>
        </div>
    </ol>
<% end  %>