<div class="HomeNotSignedIn">
    <%= image_tag("Text.png")%>
</div>
<div class="ButtonsNotSignedIn">
  <div class="span4">
    <%= link_to image_tag("RequestInvite.png"),  invite_path, :class => "modal-link",
                "data-target" => "#myModal",
                "data-toggle" => "modal" ,
                "data-backdrop" => "static" %>
  </div>
  <div class="span4">
    <%= link_to image_tag("SignIn.png"), signin_path, class:"modal-link",
                "data-target" => "#myModal",
                "data-toggle" => "modal",
                "data-backdrop" => "static" %>
  </div>
  <div class="span4">
<%= link_to image_tag("SeeHow.png"), howitworks_path %>
  </div>
</div>
