<div class="HomeNotSignedIn">
    <%= image_tag("Text.png")%>
</div>
<div class="ButtonsNotSignedIn">
  <div class="span4">
    <%= link_to image_tag("RequestInvite.png"),  invite_path, :class => "modal-link",
                "data-target" => "#myModal",
                "data-toggle" => "modal" ,
                "data-backdrop" => "static" %>

  </div>
  <div class="span4">
    <%= link_to image_tag("SignIn.png"), signin_path, class:"modal-link",
                "data-target" => "#myModal",
                "data-toggle" => "modal",
                "data-backdrop" => "static" %>
  </div>
  <div class="span4">
<%= link_to image_tag("SeeHow.png"), howitworks_path %>
  </div>
</div>
<div class="TextNotSignedIn">
  BeAMate is a platform in which you can find someone who is willing to bring you merchandize from abroad.<br>
  Upon using BeAMate, you earn Mate Points, and later on you can convert those  to actual gift cards. <br>
  We are currently in Beta, testing and tweaking our system. You can help! Ask for an invite and we'll let you know.
</div>
