<% if signed_in? %>
    <div class="new_invite_signedin">
      <%= render 'signedin' %>
    </div>
<% else  %>
    <div class="new_invite_notsignedin">
      <%= render 'notsignedin' %>
    </div>
<% end %>
