<li>
  <span class="content"><%= matepost.content  %></span>
  <span class="timestamp">This was posted <%= time_ago_in_words(matepost.created_at)  %> ago.</span>
  <% if current_user?(matepost.user)  %>
      <%=  link_to "delete" , matepost, method: :delete,
                   data: { confirm: "Delete matepost?"},
                   title: matepost.content  %>
  <% end %>
</li>