var el = $('#new-matepost-form');

<% if @matepost.errors.any? %>

// Create a list of errors
var errors = $('<ul />');

<% @matepost.errors.full_messages.each do |error| %>
errors.append('<li><%= escape_javascript( error ) %></li>');
<% end %>

// Display errors on form
el.find('.errors').html(errors);

<% else %>

// We could also render a partial to display the matepost here
$('#mateposts').append("<%= escape_javascript( 
      simple_format( @matepost.content.to_s )
    ) %>");

// Clear form
el.find('input:text,textarea').val('');
el.find('.errors').empty();

<% end %>