var form = $('#new_matepost');

<% if @matepost.errors.any? %>

if ($(".errors")[0]){
    $('.errors').remove();
}

// Create a list of errors
var errors = $('<ul />');

<% @matepost.errors.full_messages.each do |error| %>
errors.append('<li><%= escape_javascript(error) %></li>');
<% end %>

// Display errors before the form
$('<div />').addClass('errors').html(errors).prependTo("#new_matepost");

<% else %>

// Scroll down to matepost display area
$('html, body').animate({
    scrollTop: $("#mateposts").offset().top
}, 1000);

// Add the new matepost to the beginning of the #matepost division
$("#mateposts").prepend('<%= j(render(:partial => "matepost", :object => @matepost))%>').hide().fadeIn(1500);
$('#myModal').modal('hide');

<% end %>