@import "bootstrap";

/* universal */
html, body {
  height: 96%;
}

/* General CSS definitions.*/
footer {
  margin-top: 15px;
  font-size: 0.9em;
  font-weight: bold;
}

/* CSS definitions for HomeNotSignedIn page.*/
.HomeNotSignedIn {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}

.video {
  width: 565px;
  height: 325px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 1px;
  background-color:#e2d4d0;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
}

.ButtonsNotSignedIn {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.TextNotSignedIn {
  font-family: Impact !important;
  font-size: 1.6em;
  text-align: center;
  margin-top: 25%;
  line-height: 110%;
}

/* CSS definitions for HowItWorks page.*/

.TextHowItWorks {
  color: #000000;
  font-family: Impact !important;
  font-size: 1.8em;
  text-align: left;
  line-height: 110%;
}

.TextHowItWorksLight {
  color: #ffffff;
  font-family: Impact !important;
  font-size: 1.8em;
  text-align: right;
  line-height: 110%;
  margin-top: 4%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.TextHowItWorksDark {
  color: #000000;
  font-family: Impact !important;
  font-size: 1.8em;
  text-align: left;
  line-height: 110%;;
  ul li {
    line-height: 110%;
    list-style-position: outside;
  }
}

.UnderTheHood {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0px;
  }
}

.SoHowCan {
  width:840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 1%;
}

.step1 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 0px;
  }
}

.step1_desc {
  width:840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;;
  margin-bottom: 1%;
}

.step2 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 0px;
  }
}

.step2_desc {
  width:760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 1%;
}

.step3 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 0px;
  }
}

.step3_desc {
  width:840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 1%;
}

.step4 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    margin-bottom: 0px;
  }
}

.step4_desc {
  width:840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.step5 {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
}

.step5_desc {
  width:840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 3%;
}

/* CSS definitions for HomeSignedIn page.*/

.LogoBig {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
}

.WhatIsIt {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 50px;
  }
}

.ButtonsSignedIn {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 40%;
}

.SingleSignedInButton {
  width: 275px;
  float: left;
}

.ButtonText {
  width: 260px;
  padding-left: 5%;
  color: #000000;
  font-family: Impact !important;
  font-size: 1.2em;
}

.ParticipateText {
  padding-top: 3%;
  padding-left: 5%;
  color: #000000;
  font-family: Impact !important;
  font-size: 1.4em;
  width: 450px;
}

.NumberOfMatePoints {
  width: 260px;
  padding-left: 5%;
  margin-top: 2%;
  color: #ffffff;
  font-family: Impact !important;
  font-size: 2em;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.InBetween1 {
  margin-top: -20px;
  margin-bottom: 3%;
}

.MakeAConnect {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:3%;
  }
}

.BrowseOurLists {
   width:840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 1%;
}

.TextAboveFeeds {
  color: #434343;
  font-family: Impact !important;
  font-size: 2.8em;
  text-align: left;
  line-height: 110%;
  margin-top: 4%;
  margin-bottom: 2%;

}

.FeedTopPart {
  height: 80px;
}

.FeedGravatar {
  img {
    vertical-align: middle;
  }
}

.WantedItem {
  font-size: 1.9em;
  text-align: center;
  br {
    display: block;
    margin: 2px 0;
    line-height: 90%;
  }
}

.Wanted {
  padding-top: 10px;
  height: 40px;
  width: 300px;
  vertical-align: middle;
}

.Item {
  height:40px;
  width: 300px;
  vertical-align: bottom;
  font-family: Impact !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #ffffff;
}

.FlyingTo {
  font-size: 1.9em;
  text-align: center;
  br {
    display: block;
    margin: 2px 0;
    line-height: 90%;
  }
}

.Flying {
  padding-top: 10px;
  height: 40px;
  width: 300px;
  vertical-align: middle;
}

.To {
  height:40px;
  width: 300px;
  vertical-align: bottom;
  font-family: Impact !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #ffffff;
}

.FeedMiddlePart {
  margin-top: 4%;
  text-align: left;
}

.FlyingStats {
  width: 330px;
  text-align: center;
  border-top: 1px solid #815f1f;
  margin-top: 3%;
  margin-bottom: 13%;
  padding-top: 2px;
  padding-bottom: 2%;
  font-size: 1.4em;
  font-family: Impact !important;
  br {
    display: block;
    margin: 3px 0;
  }
}

.FlyingFrom {
  width: 109px;
  border-right: 1px solid #815f1f;
  text-align: center;
}

.GoingOn {
  width: 109px;
  border-right: 1px solid #815f1f;
  text-align: center;
}

.ComingBack {
  width: 109px;
  text-align: center;
}

.WillingToGive {
  border-top: 1px solid #815f1f;
  text-align: center;
  font-size: 1.6em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.UserStats {
  width: 330px;
  text-align: center;
  border-top: 1px solid #815f1f;
  border-bottom: 1px solid #815f1f;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1.6em;
  font-family: Impact !important;
  br {
    display: block;
    margin: 3px 0;
  }
}

.FeedMatePoints {
  width: 170px;
  border-right: 1px solid #815f1f;
}

.FeedMateLevel {

}

.feeds {
  width:800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

html {
  overflow-y: scroll;
}

.body_nonsigned {
  padding-top: 60px;
  background-size: 100% 100%;
  background-image: url('Concept.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

.body_signed {
  padding-top: 60px;
}

.body_signup {
  padding-top: 60px;
  background-image: url('SignupBG.jpg');
  background-color: #a5e8b9;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_editpassword {
  padding-top: 60px;
  background-image: url('FirstChange.jpg');
  background-color: #e8def8;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_conversation {
  padding-top: 60px;
  background-image: url('FirstConversation.jpg');
  background-color: #f6f6f6;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_conversation_message {
  padding-top: 60px;
  background-image: url('FirstMessage.jpg');
  background-color: #e4dc03;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_how_it_works {

}

 /* header */

.navbar {
  .navbar-inner {
    vertical-align: middle;
    border: 1px solid #000000;
    height: 45px;
    background-color: #c0b2a7;
    background-image: none;

    .dropdown .dropdown-toggle {
      height: 23px;
    }

    .dropdown .dropdown-menu::before,
    .dropdown .dropdown-menu::after {
      border: none;
      content: none;
    }

    .dropdown .dropdown-menu {
      border: 1px solid #000000;
      border-radius: 2px;
      background-color: #c0b2a7;
      .divider {
        border: black;
        background-color: black;
      }
    }
  }
  .border{
    border-right: 1px solid black;
    height: 43px;
  }
}

#header_items {
  padding-top: 1px;
  color: #ffffff;

  a {
    color: #ffffff;
    &:hover {
      color: #333333;
    }
  }

  .header_text {
    float: left;
    padding-right: 20px;
    margin-top:13px;
    font-size: 1.2em;
  }

  .header_image {
    float: left;
  }
}

.UserProfile {

}

.ProfileGravatar {
  text-align: center !important;
  margin-bottom: 13%;
}

.ProfileDetails {
  padding-top: 3%;
  color: #000000;
  font-family: Impact !important;
  font-size: 1.4em;
  h1 {
    text-align: left;
  }
  h2 {
    text-align: right !important;
    font-size: 1.5em;
    color: #d4d4d4;
  }
}

.ProfileProgress {
  margin-top: 3%;
}

.ProfileNextLevel {
  text-align: center;
  font-size: 1.1em;
  color: $green
}

#logo {
  float: left;
  margin-left: 10px;
  padding-top: 5px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  width:100%;
  position:absolute;
  left:0;
  right:0;
}

.first_home {
  background-image: url('First.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.second_home {
  background-image: url('Second.jpg');
  background-color: #c8a589;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;;
  overflow: auto;
}

.third_home {
  background-image: url('Third.jpg');
  background-color: #c5e7f3;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;;
  overflow: auto;
  height: 240px;
}

.TopOfThings {
  margin-top: -50px;
  margin-bottom: 30px;
}

.feed_item {
  background-color:#e2d4d0;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  margin-bottom: 20px;
}

.feed_item_unread {
  background-color: #cbe2d0;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  margin-bottom: 20px;
}

.user_request {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('WantSmall.png') no-repeat right top;
}

.user_mate {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('HelpSmall.png') no-repeat right top;
}

.post_buttons {
  margin-top: 30px;
  margin-left: 10px;
}

.user_chat {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('ChatSmall.png') no-repeat right top;
}

.user_message {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('MessageSmall.png') no-repeat right top;
}

.first_conversations {
  margin-top: -20px;
  margin-bottom: 100px;;
}

.Communicate {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:3%;
  }
}

.NewMessages {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom:3%;
}

.MyConversations {
  width:350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

.LetsTalk {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom:3%;
  }
}

.Trash {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 11%;
}

.EmptyTrash {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 11%;
}

.message_wrapper {
  width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}

.message_title {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.message_reply {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width:90%;
}

.signup {
  margin-top: -20px;
  margin-bottom: 100px;
}

.LetsBeFriends {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:3%;
  }
}

.CordiallyInvited {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:1%;
  }
}

.SignupForm {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.ChangeIsGood {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:2%;
  }
}

.PickAPass {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:1%;
  }
}

.EditpasswordForm {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.howitworks {
  margin-top: -20px;
  margin-bottom: 100px;
}

.first_how_it_works {
    background-image: url('FirstHowIts.jpg');
    background-color:#f9d3d3;
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: left top;
    overflow: auto;
}

.second_how_it_works {
  background-image: url('SecondHowIts.jpg');
  background-color: #bf383b;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.third_how_it_works {
  background-image: url('ThirdHowIts.jpg');
  background-color: #f6ccdb;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.fourth_how_it_works {
  background-image: url('FourthHowIts.jpg');
  background-color: #997682;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.fifth_how_it_works {
  background-image: url('FifthHowIts.jpg');
  background-color: #f7dbfe;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.sixth_how_it_works {
  background-image: url('SixthHowIts.jpg');
  background-color: #cf8010;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  margin-top: -5px;
  font-size: 2.1em;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
#bottom, #push {
  height:10px;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;

}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  border: 0;
  display: block;
  margin: 0 auto;
}

.actions {
  margin-left: auto;
  margin-right: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#new_matepost {
  select {
    border: 1px solid #bbb;
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 13px;
    @include box_sizing;
    float: left;
    width: 100%;
    width: 140px;
    height: 40px;
  }
}

#new_requestpost {
  select {
    border: 1px solid #bbb;
    padding: 5px;
    margin-bottom: 15px;
    @include box_sizing;
    width: 100%;
    height: 35px;
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*requestposts */

.requestposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

/*mateposts */

.mateposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}
.timestamp {
  color: #585313;
  font-size: 0.9em;
  text-align: right;
  margin-right: 10px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.modal {
  margin-top: -20px;
}

.modal, a:active, a:focus {
  outline: 0 none;
}

.modal-header {
  height: 25px;
}

.modal-footer {
  height: 10px;
}

 .modal-body {
  max-height: 800px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#FeedbackButton {
  background-image: url("FeedbackButtonUp.png");
  height: 168px;
  width: 45px;
  position: fixed;
  top: 40%;
  z-index: 999;
}

#FeedbackButton a {
  display: block;
  height: 168px;
  width: 45px;
}

#FeedbackButton a:hover {
  background-image: url("FeedbackButtonDown.png");
  height: 168px;
  width: 45px;
}

.errors {
  color: #ff0000;
}

.main_content {
  margin-bottom: 50px;
}

//Flash Messages
.alert-success {
    background: #0b7d05;
    color: #ffffff;
    font-size: 1.1em;
    border-color: #000000;
    position: absolute;
    left:150px;
    right:150px;
    margin-left:auto;
    margin-right:auto;
}

.alert-update_user_details {
  background-image: url('UpdateDetailsBG.png');
  background-color: #a95214;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 500px;
  height: 350px;
  color: #ffffff;
  font-size: 2.5em;
  border: 1px solid #000000;
  position: absolute;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  }

  #update_user_details {
    margin-top: 10%;
  }

.EarnMatePointsClass {
  background-image: url('EarnMatePointsBG.png');
  background-color: #2276ca;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 500px;
  height: 350px;
  color: #ffffff;
  font-size: 2.5em;
  border: 1px solid #000000;
  position: absolute;
  left:150px;
  right:150px;
  line-height: 110%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-family: Impact !important;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
}

#MatepostPointID {
   margin-top: 12%;
}

#RequestpostPointID {
  margin-top: 12%;
}
