@import "bootstrap";

/* universal */
html, body {
  height: 96%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

html {
  overflow-y: scroll;
}

.body_nonsigned {
  padding-top: 60px;
  background-size: 100% 100%;
  background-image: url('Concept.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

.body_signed {
  padding-top: 60px;
}

.body_signup {
  padding-top: 60px;
  background-image: url('SignupBG.jpg');
  background-color: #a5e8b9;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_editpassword {
  padding-top: 60px;
  background-image: url('FirstChange.jpg');
  background-color: #e8def8;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_conversation {
  padding-top: 60px;
  background-image: url('FirstConversation.jpg');
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_conversation_message {
  padding-top: 60px;
  background-image: url('FirstMessage.jpg');
  background-color: #e4dc03;
  background-repeat: no-repeat;
  background-position: left top;
}

.body_how_it_works {

}

 /* header */

.navbar {
  .navbar-inner {
    vertical-align: middle;
    border: 1px solid #000000;
    height: 45px;
    background-color: #c0b2a7;
    background-image: none;

    .dropdown .dropdown-toggle {
      height: 23px;
    }

    .dropdown .dropdown-menu::before,
    .dropdown .dropdown-menu::after {
      border: none;
      content: none;
    }

    .dropdown .dropdown-menu {
      border: 1px solid #000000;
      border-radius: 2px;
      background-color: #c0b2a7;
      .divider {
        border: black;
        background-color: black;
      }
    }
  }
  .border{
    border-right: 1px solid black;
    height: 43px;
  }
}

#header_items {
  padding-top: 1px;
  color: #ffffff;

  a {
    color: #ffffff;
    &:hover {
      color: #333333;
    }
  }

  .header_text {
    float: left;
    padding-right: 20px;
    margin-top:13px;
    font-size: 1.2em;
  }

  .header_image {
    float: left;
  }
}

#logo {
  float: left;
  margin-left: 10px;
  padding-top: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  width:100%;
  position:absolute;
  left:0;
  right:0;
}

.first_home {
  background-image: url('First.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.second_home {
  background-image: url('Second.jpg');
  background-color: #c8a589;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;;
  overflow: auto;
}

.third_home {
  background-image: url('Third.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;;
  overflow: auto;
  height: 240px;
}

.TopOfThings {
  margin-top: -50px;
  margin-bottom: 30px;
}

.ChooseYourPath {
  margin-left: 25%;
  margin-top: 30px;
}

.WhatIsIt {
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 37%;
}

.ButtonsSignedIn {
  margin-top: 50px;
  margin-bottom: 400px;
  margin-left: 27%;
}

.InBetween1 {
  margin-top: -20px;
  margin-bottom: 50px;
  margin-left: 100px
}

.MakeAConnect {
  margin-top:30px;
  margin-bottom: 20px;
  margin-left: 23%;
}

.BrowseOurLists {
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 27%;
 }

.BottomPart {
  margin-top: 250px;
  margin-bottom: 30px;
  margin-left: 27%;
}

.feeds {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 28%;
}

.feed_item {
  background-color:#e2d4d0;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  margin-bottom: 20px;
}

.feed_item_unread {
  background-color: #cbe2d0;
  -moz-box-shadow: 5px 5px 5px #333333;; /* Old Firefox */
  box-shadow: 5px 5px 5px #333333;
  border:1px solid;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  margin-bottom: 20px;
}

.user_request {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('WantSmall.png') no-repeat right top;
}

.user_mate {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('HelpSmall.png') no-repeat right top;
}

.post_buttons {
  margin-top: 30px;
  margin-left: 10px;
}

.user_chat {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('ChatSmall.png') no-repeat right top;
}

.user_message {
  list-style: none;
  padding: 1px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  background: url('MessageSmall.png') no-repeat right top;
}

.first_conversations {
  margin-top: -20px;
  margin-bottom: 100px;;
}

.Communicate {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 35%;
}

.NewMessages {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 39%;
}

.MyConversations {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 39%;
}

.LetsTalk {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 23%;
}

.Trash {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 11%;
}

.EmptyTrash {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 11%;
}

.message_wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 35%;
}

.message_title {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.message_reply {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width:90%;
}

.signup {
  margin-top: -20px;
  margin-bottom: 100px;
}

.LetsBeFriends {
  margin-top: 0px;
  margin-bottom: 60px;
  margin-left: 25%;
}

.CordiallyInvited {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 34%;
}

.SignupForm {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 36%;
}

.ChangeIsGood {
  margin-top: 0px;
  margin-bottom: 60px;
  margin-left: 25%;
}

.PickAPass {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 34%;
}

.EditpasswordForm {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 36%;
}

.howitworks {
  margin-top: -20px;
  margin-bottom: 100px;
}

.first_how_it_works {
    background-image: url('FirstHowIts.jpg');
    background-color:#f9d3d3;
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: left top;
    overflow: auto;
}

.second_how_it_works {
  background-image: url('SecondHowIts.jpg');
  background-color: #bf383b;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.third_how_it_works {
  background-image: url('ThirdHowIts.jpg');
  background-color: #f6ccdb;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

.fourth_how_it_works {
  background-image: url('FourthHowIts.jpg');
  background-color: #997682;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: left top;
  overflow: auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
#bottom, #push {
  height:10px;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;

}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  border: 0;
  display: block;
  margin: 0 auto;
}

.actions {
  margin-left: auto;
  margin-right: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#new_matepost {
  select {
    border: 1px solid #bbb;
    padding: 5px;
    margin-bottom: 15px;
    margin-right: 13px;
    @include box_sizing;
    float: left;
    width: 100%;
    width: 140px;
    height: 40px;
  }
}

#new_requestpost {
  select {
    border: 1px solid #bbb;
    padding: 5px;
    margin-bottom: 15px;
    @include box_sizing;
    width: 100%;
    height: 35px;
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/*requestposts */

.requestposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

/*mateposts */

.mateposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}
.timestamp {
  color: #585313;
  font-size: 0.9em;
  text-align: right;
  margin-right: 10px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.modal {
  margin-top: -20px;
}

.modal, a:active, a:focus {
  outline: 0 none;
}

.modal-header {
  height: 25px;
}

.modal-footer {
  height: 10px;
}

 .modal-body {
  max-height: 800px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#FeedbackButton {
  background-image: url("FeedbackButtonUp.png");
  height: 168px;
  width: 45px;
  position: fixed;
  top: 40%;
  z-index: 999;
}

#FeedbackButton a {
  display: block;
  height: 168px;
  width: 45px;
}

#FeedbackButton a:hover {
  background-image: url("FeedbackButtonDown.png");
  height: 168px;
  width: 45px;
}

.errors {
  color: #ff0000;
}

.main_content {
  margin-bottom: 50px;
}

//Flash Messages
.alert-success {
    background: #0b7d05;
    color: #ffffff;
    font-size: 1.1em;
    border-color: #000000;
    position: absolute;
    left:150px;
    right:150px;
    margin-left:auto;
    margin-right:auto;
}