@media screen and (min-width: 500px) and (max-width: 1024px) {

/* CSS definitions for HomeNotSignedIn page.*/
  .HomeNotSignedIn {
    margin-top: 0px;
    margin-left: 2%;
  }

  .ButtonsNotSignedIn {
    margin-top: 7%;
    margin-left: 4%;
  }

/* General CSS definitions.*/
  footer {
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: bold;
  }

/* CSS definitions for HowItWorks page.*/
  .UnderTheHood {
    margin-top: -20px;
    margin-bottom: 60px;
    margin-left: 12%;
  }

  .SoHowCan {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 12%;
  }

  .step1 {
    margin-top: 140px;
    margin-bottom: 0px;
    margin-left: 15%;
  }

  .step1_desc {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12%;
  }

  .step2 {
    margin-top: 140px;
    margin-bottom: 0px;
    margin-left: 7%;
  }

  .step2_desc {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15%;
  }

  .step3 {
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 7%;
  }

  .step3_desc {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 15%;
  }
}
