@media screen and (min-width: 1281px) and (max-width: 1366px) {

/* CSS definitions for HomeNotSignedIn page.*/
  .HomeNotSignedIn {
    margin-top: 0px;
    margin-left: 7%;
  }

  .ButtonsNotSignedIn {
    margin-top: 20%;
    margin-left: 16%;
  }

/* General CSS definitions.*/
  footer {
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: bold;
  }

/* CSS definitions for HowItWorks page.*/
  .UnderTheHood {
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: 24%;
  }

  .SoHowCan {
    margin-top: 90px;
    margin-bottom: 0px;
    margin-left: 23%;
  }

  .step1 {
    margin-top: 140px;
    margin-bottom: 0px;
    margin-left: 27%;
  }

  .step1_desc {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 24%;
  }

  .step2 {
    margin-top: 140px;
    margin-bottom: 0px;
    margin-left: 21%;
  }

  .step2_desc {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 27%;
  }

  .step3 {
    margin-top: 120px;
    margin-bottom: 20px;
    margin-left: 21%;
  }

  .step3_desc {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 27%;
  }

}
