<div id="footer" style="clear:both;text-align:center;">
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path, "data-target" => "#myModal", "data-toggle" => "modal", class:"modal-link" %></li>
    </ul>
  </nav>
</footer>
</div>